<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Waitlist</title>
</head>
<body>
    <h1>Hi, <span id="patientName">patient</span></h1>
    <p>Your wait time is approximately:</p>
    <div>
        <p><b><span id="waitTime">-</span></b> min</p>
        <p>Your position in the line is <b><span id="waitPosition">-</span></b>.</p>
        <p><i>Last refreshed: <span id="lastUpdated">never</span></i></p>
    </div>
    <p><small>Your wait time will automatically refresh every minute, or you can refresh the page for the most up to date estimate.</small></p>
    <script type="text/javascript">
        window.onload = function() {
            setInterval(updateWaitTime, 60000); // Update wait time every minute
            updateWaitTime();
        }

        function updateWaitTime() {
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    let responseJSON = JSON.parse(xhttp.responseText);

                    document.getElementById("patientName").innerHTML = responseJSON.name;

                    let waitTime = parseInt(responseJSON.position) * 15
                    document.getElementById("waitTime").innerHTML = waitTime < 0 ? "-" : waitTime;

                    document.getElementById("waitPosition").innerHTML = responseJSON.position < 0 ? "-" : responseJSON.position;

                    var currentDate = new Date();
                    document.getElementById("lastUpdated").innerHTML = `${currentDate.toLocaleString()}`
                }
            };
            xhttp.open("GET", "{{ url_for('get_wait_time', patient_id=patient_id) }}", true);
            xhttp.send();
        }
    </script>
</body>
</html>