<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Waitlist - Full Waitlist</title>
</head>
<body>
    <h1>Waitlist</h1>
    <p><i>Last refreshed: <span id="lastUpdated"></span></i></p>
    <ol>
    {% for patient in waitlist %}
        <li><a href="{{ url_for('doctor_view', patient_id=patient.id) }}">{{ patient.name }} {{ "(in progress)" if patient.in_progress}}</a></li>
    {% endfor %}
    </ol>
    <script type="text/javascript">
        window.onload = function() {
            var currentDate = new Date();
            document.getElementById("lastUpdated").innerHTML = `${currentDate.toLocaleString()}`;
        }
    </script>
</body>
</html>