<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Waitlist - Full Waitlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
</head>
<body>
    <main class="container">
        <h1>Waitlist</h1>
        <p><i>Last refreshed: <span id="lastUpdated"></span></i></p>
        <ol>
        {% for patient in waitlist %}
            <li><a href="{{ url_for('doctor_view', patient_id=patient.id) }}">{{ patient.name }} {{ "(in progress)" if patient.in_progress}}</a></li>
        {% endfor %}
        </ol>
    </main>
    <script type="text/javascript">
        window.onload = function() {
            var currentDate = new Date();
            document.getElementById("lastUpdated").innerHTML = `${currentDate.toLocaleString()}`;
        }
    </script>
</body>
</html>